extends layout

block header
  section#main-content
    div.container
      div.row
        div.col-xs-12.col-sm-8.col-sm-offset-2
          h1(class="main-title", data-translatable) CONFERENCIA AGILE SPAIN // AGILE SPAIN CONFERENCE
          img(src='images/banner-home.png')
        div.col-xs-12.col-sm-8.col-sm-offset-2.container-subtitle
          p.main-subtitle 9 y 10 de Noviembre. Fibes, Sevilla
          p.main-subtitle.main-smaller-subtitle Growing Up! From Zero to Hero! 
          p.main-subtitle.main-smaller-subtitle(data-translatable) Para todos los profesionales del agilismo // For all the agile professionals

block content
  div.button-group.filter-button-group
    button(data-filter='*') Todo
    button(data-filter='.50') Charla larga
    button(data-filter='.20') Charla corta

  if user
    div
      | TE QUEDAN: #{remaining_votes} votos por repartir
  
  div.container
    div.grid.col-xs-12
      each val, index in papers
        section(class=val.duration + ' speaker grid-item')
          div#speaker-title #{val.title}
          img(src='/images/avatars/' + val.picture, width='100')
          div.speaker-details
            div#speaker-name #{val.name}
            p #{val.about}
            if (val.twitter)
              a(href='https://twitter.com/' + val.twitter, target="blank") twitter
            if (val.linkedin)
              a(href=val.linkedin, target="blank") linkedIn
            if (val.web != 'http://')
              a(href=val.web, target="blank") web

          hr       
          div.info Nivel: #{val.public}
          div.info#format Formato: #{val.duration}          
          div.info 
            div.info-title Tags: 
            div.tags-container   
              each tag, i in val.tags.toLowerCase().split(",")
                span.talk-tags #{tag}
                  
          p#short-description #{val.short_description}
          p#large-description #[strong Descripción ampliada]: #{val.description}
          //- if val.extra_information
          //- p #[strong Información adicional]: #{val.extra_information}

          if val.description.length !== 0
            a.read-more más info  
          hr       
          
          //- Si el usuario está registrado mostramos la información de su voto al speaker y el formulario para votar
          //- user.num_votes
        
          if user           
            div.votes-title Vota: 
            div.votes-container
              button.vote(class = typeof val.score !== 'number' ? "selected" : "")  0 ptos
              -for(var i=1; i <= 10; i++){
                button.vote(class = val.score === i ? "selected" : "")  #{i} ptos
              -}            
          else
            a#login(href="/login") ¿Quieres votar? ¡Logueate!

          //- Aquí se muestra la información de los votos recibidos.
          div.info Puntos totales: 
            span.total-score  #{val.total | 0} pts
         
          