extends layout

block header
  section#main-content
    div.container
      div.row
        div.col-xs-12.col-sm-8.col-sm-offset-2
          h1(class="main-title", data-translatable) CONFERENCIA AGILE SPAIN // AGILE SPAIN CONFERENCE
          img(src='images/banner-home.png')
        div.col-xs-12.col-sm-8.col-sm-offset-2.container-subtitle
          p.main-subtitle 9 y 10 de Noviembre. Fibes, Sevilla
          p.main-subtitle.main-smaller-subtitle Growing Up! From Zero to Hero! 
          p.main-subtitle.main-smaller-subtitle(data-translatable) Para todos los profesionales del agilismo // For all the agile professionals

block content
  input#remaining_votes(type="hidden", value=remaining_votes)

  if !user
    div.login-container
      include login.pug
  div.container
    div.button-group.filter-button-group.row
      div.buttons-title.col-sm-2.col-sm-offset-2  Ver:
      div.col-sm-5
        button(data-filter='*') todo
        button(data-filter='.50') talleres
        button(data-filter='.20') charlas
        button(data-filter='.20') votadas por mi
    div.button-group.sort-by-button-group.row
      div.buttons-title.col-sm-2.col-sm-offset-2  Ordenar por:
      div.col-sm-5
        button(data-sort-by='level') audiencia
        button(data-sort-by='time') tiempo
        button(data-sort-by='score') más votados     


    

  div#talks-container.container
    div.grid.col-xs-12
      each val, index in papers
        section(class=val.duration + ' speaker grid-item', total-score = val.total | 0, data-score = val.total )
          div#speaker-title #{val.title}
          img(src='/images/avatars/' + val.picture, width='100')
          div.speaker-details
            div#speaker-name #{val.name}
            p #{val.about}
            if (val.twitter)
              a(href='https://twitter.com/' + val.twitter, target="blank") twitter
            if (val.linkedin)
              a(href=val.linkedin, target="blank") linkedIn
            if (val.web != 'http://')
              a(href=val.web, target="blank") web

          hr       
          div.info Nivel: 
            span.level #{val.public}
          div.info#format Formato: #{val.duration}          
          div.info 
            div.info-title Tags: 
            div.tags-container   
              each tag, i in val.tags.toLowerCase().split(",")
                span.talk-tags #{tag}
                  
          p#short-description #{val.short_description}
          p#large-description #[strong Descripción ampliada]: #{val.description}
          //- if val.extra_information
          //- p #[strong Información adicional]: #{val.extra_information}

          if val.description.length !== 0
            a.read-more más info  
          hr       
          
          //- Si el usuario está registrado mostramos la información de su voto al speaker y el formulario para votar
          //- user.num_votes
        
          if user           
            div.votes-title Vota: 
            div.votes-container(current-vote=val.score)
              button.vote(class = typeof val.score !== 'number' || val.score === 0 ? "selected 0-ptos" : "0 ptos", data-score = 0, data-talk = val.id )  0 ptos
              -for(var i=1; i <= 10; i++){
                - var myClass =  val.score === i ? "selected" : "";
                - myClass += remaining_votes < i && i > val.score ?  " cannot" : "";
                button.vote(class =  myClass + " " + i + "-ptos" , 
                  data-score = i, 
                  data-talk = val.id,
                  disabled = remaining_votes < i && i > val.score)  #{i} ptos
              -}                     
          else
            div.login-container
              a#login(href="/login") ¿quieres votar? ¡logueate!

          //- Aquí se muestra la información de los votos recibidos.
          if user
            div.info Puntos totales: 
              span.total-score  #{val.total | 0} pts
         
          